@layer theme, base, components, utilities;

@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-blue: oklch(0.4345 0.2878 265.34);
  --full-height: calc(var(--dvh) * 100);
  --vw-unit: calc(100vw / 1536);

  --desktop-1: calc(var(--vw-unit) * 4);
  --desktop-2: calc(var(--vw-unit) * 8);
  --desktop-3: calc(var(--vw-unit) * 12);
  --desktop-4: calc(var(--vw-unit) * 16);
  --desktop-5: calc(var(--vw-unit) * 20);
  --desktop-6: calc(var(--vw-unit) * 24);
  --desktop-7: calc(var(--vw-unit) * 28);
  --desktop-8: calc(var(--vw-unit) * 32);
  --desktop-9: calc(var(--vw-unit) * 36);
  --desktop-10: calc(var(--vw-unit) * 40);
  --desktop-11: calc(var(--vw-unit) * 44);
  --desktop-12: calc(var(--vw-unit) * 48);
  --desktop-13: calc(var(--vw-unit) * 52);
  --desktop-14: calc(var(--vw-unit) * 56);
  --desktop-15: calc(var(--vw-unit) * 60);
  --desktop-16: calc(var(--vw-unit) * 64);
  --desktop-17: calc(var(--vw-unit) * 68);
  --desktop-18: calc(var(--vw-unit) * 72);
  --desktop-19: calc(var(--vw-unit) * 76);
  --desktop-20: calc(var(--vw-unit) * 80);
  --desktop-40: calc(var(--vw-unit) * 160);

  --margin-desktop: calc(var(--vw-unit) * 20);

  --display-desktop: calc(var(--vw-unit) * 96);

  --huge-desktop: calc(var(--vw-unit) * 48);

  --big-desktop: calc(var(--vw-unit) * 30);

  --small-desktop: calc(var(--vw-unit) * 20);

  --base-desktop: calc(var(--vw-unit) * 16);
  --base-leading-desktop: calc(var(--vw-unit) * 16);
}
@media (hover: none) and (pointer: coarse) {
  .scrollbar-thumb {
    display: none !important;
  }
}
@theme inline {
  --font-new-studio-sans: var(--font-new-studio-sans);
}
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }
    100% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }
  }
  @keyframes marquee-inverted {
    0% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }
    100% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }
  }

  /* animation utilities */
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  .animate-marquee-inverted {
    animation: marquee-inverted var(--duration) linear infinite;
  }

  /* respect reduced motion */
  @variants motion-reduce {
    .animate-marquee,
    .animate-marquee-inverted {
      animation-duration: 50s !important;
    }
  }
}
:root {
  overscroll-behavior: none;
}

:root::selection {
  color: var(--color-white);
  background: var(--color-blue);
}

:root::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-family: var(--font-new-studio-sans);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizelegibility;
}
#main {
  opacity: 0;
  visibility: hidden;
}
