@layer theme, base, components, utilities;

@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-black: oklch(0.1543 0 0);
  --color-white: oklch(0.9761 0 0);
  --color-blue: oklch(0.4345 0.2878 265.34);
  /* --full-height: calc(var(--dvh) * 100); */
}

@theme inline {
  --font-new-studio-sans: var(--font-new-studio-sans);
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }
    100% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }
  }
  @keyframes marquee-inverted {
    0% {
      transform: translate3d(calc(-100% - var(--offset)), 0, 0);
    }
    100% {
      transform: translate3d(calc(var(--offset) * -1), 0, 0);
    }
  }

  /* animation utilities */
  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }
  .animate-marquee-inverted {
    animation: marquee-inverted var(--duration) linear infinite;
  }

  /* respect reduced motion */
  @variants motion-reduce {
    .animate-marquee,
    .animate-marquee-inverted {
      animation-duration: 50s !important;
    }
  }
}
:root {
  overscroll-behavior: none;
}

:root::selection {
  color: var(--color-white);
  background: var(--color-blue);
}

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-family: var(--font-new-studio-sans);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizelegibility;
}
#main {
  opacity: 0;
  visibility: hidden;
}
